a{cursor: pointer;}
a:hover{text-decoration: none;}
img{width: 100%;height: auto;}
.row{margin: 0;}
#nav-top{background-color: #1C715B;height: 28px;color: #ABBFB9;font-size: 13px;line-height: 28px;padding: 0;}
#nav-top p a{color: #ABBFB9}
#search-area{float: right;padding-right: 26px;}
#search{height: 22px;width: 114px;border: none;border-radius: 11px;background-color: #9DD189;
	padding-left: 14px;font-size: 13px;line-height: 22px;margin: 20px 0 0 20px;outline:none;color: #2C6351;}
#search-area img{width: 36px;height: auto;position: relative;top: 0;right: 38px;}
#cart{line-height: 28px;}
#cart img{width: 34px;height:auto;vertical-align: middle;margin-top: -4px;}
#banner{float: left;margin-left: 60px;line-height: 60px;font-size: 16px;color: #4A6A60;}
#banner a{color: #4A6A60;}
#banner-area{width: 1400px;height: 280px;margin: 0 auto;}
#nav-menu{width: 100%;position: absolute;top: 80px;left: 0;z-index: 60;margin: 0;display: none;}
#empty-cart{position: absolute;top: 28px;right: 140px;display: none;}
#empty-cart img{width: 360px;}
#mainer{padding: 0;margin-top: 20px;}
.carousel-control:link, .carousel-control:visited, .carousel-control:hover, .carousel-control:active{opacity: 0;}